<article *ngIf="activity$ | async as activity">
  <header>
    <h2>{{ activity.name }}</h2>
    <div [class]="activity.status">
      <span>{{ activity.location }}</span>
      <span>{{ activity.price | currency }}</span>
      <span>{{ activity.date | date : 'dd-MMM-yyyy' }}</span>
      <span>{{ activity.status | uppercase }}</span>
    </div>
  </header>
  <main>
    <p>{{ getAtivityRangeMessage() }}</p>
    <p>Current Participants {{ currentParticipants }}</p>
    <p>Total Participants {{ totalParticipants }}</p>
  </main>
  <footer>
    <div *ngIf="!booked">
      <label for="newParticipants">How many participants want to book?</label>
      <input
        name="newParticipants"
        type="number"
        [max]="maxNewParticipants"
        min="0"
        [value]="newParticipants"
        (change)="onNewParticipantsChange($event)" />
      <button [disabled]="getDisableBookingButton()" (click)="onBookClick()">
        Book now!
      </button>
    </div>
    <div *ngIf="booked">
      <!-- Mensaje desde una función, se está reevaluando continuamente -->
      <p>{{ getBookedMessage() }}</p>

      <!-- Mensaje que se genera una vez realizas el click en onBookClick() -->
      <p>{{ bookedMessage }}</p>
      <ul>
        <li *ngFor="let p of newParticipantsData">{{ p | participant }}</li>
      </ul>
    </div>
  </footer>
</article>
